{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container space-container p-0 mx-1 my-auto">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mx-auto">
            <form method="POST" action="{% url 'add_project' %}" class="form mb-2" enctype="multiport/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-right">
                    <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0">Cancel</a>
                    <button class="btn btn-outline-black rounded-0" type="submit">Add Project</button>
                </div>
            </form>
        </div>
    </div>
</div>

    {{ project.project_title }}
{% endblock %}