{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container space-container p-0 mb-5 my-auto">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-12 col-md-8 mx-auto">
            <div class="card">
                
                <h2 class="card-header text-center">{{ project.headline }}</h2>

                {% if request.user.is_superuser %}
                <div class="col">
                    <a href="{% url 'edit_project' project.id %}">Edit Project</a>
                </div>
                <div class="col">
                    <a href="{% url 'delete_project' project.id %}">Delete Project</a>
                </div>
                {% endif %}

                {% if "placeholder" in project.image1.url %}
                    <img class="card-img-top article-image preview-image mx-auto" src="https://res.cloudinary.com/djsvtlliv/image/upload/v1670008046/noimage_thkqt6.jpg" alt="Nice image of code">
                {% else %}
                    <img class="card-img-top article-image preview-image mx-auto" src="{{ project.image1.url }}" alt="" >
                {% endif %}
                <div class="card-body">
                    <h3 class="card-title">{{ project.project_title }}</h3>
                    <div class="row">
                    {% if project.html %}
                        <div class="col-1 m-2">
                            <img class="language-badge" src="https://res.cloudinary.com/djsvtlliv/image/upload/v1670002899/html_tplvkf.jpg" alt="html">
                        </div>
                    {% endif %}
                    {% if project.css %}
                        <div class="col-1 m-2">
                            <img class="language-badge" src="https://res.cloudinary.com/djsvtlliv/image/upload/v1670002899/css_ho0wlt.jpg" alt="css">
                        </div>
                    {% endif %}
                    {% if project.javascript %}
                        <div class="col-1 m-2">
                            <img class="language-badge" src="https://res.cloudinary.com/djsvtlliv/image/upload/v1670002899/javascript_pxjkwr.jpg" alt="JavaScript">
                        </div>
                    {% endif %}
                    {% if project.python %}
                        <div class="col-1 m-2">
                            <img class="language-badge" src="https://res.cloudinary.com/djsvtlliv/image/upload/v1670002899/python_slhiw1.jpg" alt="Python">
                        </div>
                    {% endif %}
                    {% if project.flask %}
                        <div class="col-1 m-2">
                            <img class="language-badge" src="https://res.cloudinary.com/djsvtlliv/image/upload/v1670002899/flask_jb3hu8.jpg" alt="Flask">
                        </div>
                    {% endif %}
                    {% if project.react %}
                        <div class="col-1 m-2">
                            <img class="language-badge" src="https://res.cloudinary.com/djsvtlliv/image/upload/v1670002899/react_qyvmbm.jpg" alt="React">
                        </div>
                    {% endif %}
                    {% if project.django %}
                        <div class="col-1 m-2">
                            <img class="language-badge" src="https://res.cloudinary.com/djsvtlliv/image/upload/v1670002899/django_shmu8y.jpg" alt="Django">
                        </div>
                    {% endif %}
                    {% if project.bootstrap %}
                        <div class="col-1 m-2">
                            <img class="language-badge" src="https://res.cloudinary.com/djsvtlliv/image/upload/v1670002899/bootstrap_fwldlg.jpg" alt="Bootstrap">
                        </div>
                    {% endif %}
                    {% if project.java %}
                        <div class="col-1 m-2">
                            <img class="language-badge" src="https://res.cloudinary.com/djsvtlliv/image/upload/v1670002899/java_qi9fxh.jpg" alt="Java">
                        </div>
                    {% endif %}
                    {% if project.sql %}
                        <div class="col-1 m-2">
                            <img class="language-badge" src="https://res.cloudinary.com/djsvtlliv/image/upload/v1670002899/sql_vrg4oh.jpg" alt="sql">
                        </div>
                    {% endif %}
                    {% if project.jquery %}
                        <div class="col-1 m-2">
                            <img class="language-badge" src="https://res.cloudinary.com/djsvtlliv/image/upload/v1670002899/jquery_iluuk8.jpg" alt="jQuery">
                        </div>
                    {% endif %}
                    {% if project.github_pages %}
                        <div class="col-1 m-2">
                            <img class="language-badge" src="https://res.cloudinary.com/djsvtlliv/image/upload/v1670330582/github_pages_bw1lxe.jpg" alt="GitHub Pages">
                        </div>
                    {% endif %}
                    {% if project.heroku %}
                        <div class="col-1 m-2">
                            <img class="language-badge" src="https://res.cloudinary.com/djsvtlliv/image/upload/v1670330582/heroku_euicbi.jpg" alt="Heroku">
                        </div>
                    {% endif %}
                    {% if project.stripe %}
                        <div class="col-1 m-2">
                            <img class="language-badge" src="https://res.cloudinary.com/djsvtlliv/image/upload/v1670330582/stripe_vzqxib.jpg" alt="Stripe">
                        </div>
                    {% endif %}
                    </div>
                </div>
                <div>
                    {% if project.link_to_site %}
                    <div class="col-8 text-center m-0 mx-auto">
                        <a href="{{ project.link_to_site }}" target="_blank" rel="noopener" class="card-link">Live Site Link</a>
                    </div>
                    {% endif %}
                    {% if project.link_to_repo %}
                    <div class="col-8 text-center m-0 mx-auto">
                        <a href="{{ project.link_to_repo }}" target="_blank" rel="noopener" class="card-link">Repository Link</a>
                    </div>
                    {% endif %}
                </div>
                <ul class="list-group list-group-flush">
                    {% if project.task %}
                    <li class="list-group-item">
                        <h5>The Task</h5>
                        {{ project.task | safe }}
                    </li>
                    {% endif %}
                    {% if project.actions %}
                    <li class="list-group-item">
                        <h5>What I did</h5>
                        {{ project.actions | safe }}
                    </li>
                    {% endif %}
                    {% if project.problems %}
                    <li class="list-group-item">
                        <h5>Problems</h5>
                        {{ project.problems | safe }}
                    </li>
                    {% endif %}
                    {% if project.knowledge_gained %}
                    <li class="list-group-item">
                        <h5>What I Learnt</h5>
                        {{ project.knowledge_gained | safe }}
                    </li>
                    <li class="list-group-item">
                        {% if project.image2 or project.image3 or project.image4 or project.image5 %}
                            <h5>Project Images</h5>
                            {% if project.image2 %}
                            <h6 class="m-2">{{ project.image2_title }}</h6>
                            <img class="card-img-top article-image preview-image mx-auto" src="{{ project.image2.url }}" alt="{{ project.image2_title }}" >
                            {% endif %}
                            <br>
                            {% if project.image3 %}
                            <h6 class="m-2">{{ project.image3_title }}</h6>
                            <img class="card-img-top article-image preview-image mx-auto" src="{{ project.image3.url }}" alt="{{ project.image3_title }}" >
                            {% endif %}
                            <br>
                            {% if project.image4 %}
                            <h6 class="m-2">{{ project.image4_title }}</h6>
                            <img class="card-img-top article-image preview-image mx-auto" src="{{ project.image4.url }}" alt="{{ project.image4_title }}" >
                            {% endif %}
                            <br>
                            {% if project.image5 %}
                            <h6 class="m-2">{{ project.image5_title }}</h6>
                            <img class="card-img-top article-image preview-image mx-auto" src="{{ project.image5.url }}" alt="{{ project.image5_title }}" >
                            {% endif %}
                        {% endif %}
                    </li>
                    {% endif %}
                </ul>
                <div class="card-footer">
                    {% if project.link_to_site %}
                    <a href="{{ project.link_to_site }}" target="_blank" rel="noopener" class="card-link">Link To Live Site</a>
                    {% endif %}
                    {% if project.link_to_repo %}
                    <a href="{{ project.link_to_repo }}" target="_blank" rel="noopener" class="card-link">Link To Repository</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
{% endblock %}